/* Estilos generales */
.root {
    -fx-font-family: "Marker Felt", fantasy;
    -fx-font-size: 20px;
    -fx-background-color: #db5031; /* Color de fondo general */
}

/* Estilo para las etiquetas */
.label {
    -fx-text-fill: #000000; /* Color del texto */
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}
.label.titulo{
    -fx-font-size: 50px;
}
.label.subtitulo{
    -fx-font-size: 40px;
}
.button{
    -fx-background-color:#f86464;
}

.button:hover {
    -fx-background-color: #fa1919; /* Color de fondo al pasar el cursor */
}
/* Estilo para los campos de texto */
.text-field, .combo-box, .spinner, .text-area{
    -fx-border-color: #cccccc; /* Color del borde */
    -fx-border-radius: 5px; /* Bordes redondeados */
    -fx-padding: 10px; /* Espaciado interno */
    -fx-background-color: white; /* Color de fondo */
}

/* Estilo para FlowPane y VBox */
.flow-pane {
    -fx-spacing: 10; /* Espaciado entre hijos */
}

.vbox {
    -fx-spacing: 20; /* Espaciado entre hijos */
}

/* Estilo para TableView */
.table-view {
    -fx-text-fill: #ffffff; /* Color del texto de la tabla */
    -fx-background-color: grey; /* Color de fondo de la tabla */
    -fx-border-color: #cccccc; /* Color del borde de la tabla */
    -fx-border-radius: 5px; /* Bordes redondeados */
}

.table-cell{
    -fx-padding: 20px 10px;
    -fx-font-size: 16px;
}
.column-header{
    -fx-font-size: 24px;
    -fx-padding: 10px;
    -fx-background-color: #f86464;
}
.column-header .label{
    -fx-text-fill: white;
}

.scroll-bar:vertical {
    -fx-background-color: #f86464; /* Color de fondo de la barra */
    -fx-pref-width: 10px; /* Ancho de la barra */
}

.scroll-bar:horizontal {
    -fx-background-color: #f86464; /* Color de fondo de la barra */
}

.scroll-bar .thumb {
    -fx-background-color: #000000; /* Color de la parte deslizante */
    -fx-background-radius: 5; /* Bordes redondeados */
}

.scroll-bar .thumb:pressed {
    -fx-background-color: #5a0606; /* Color de la parte deslizante al presionar */
}

.table-view .table-row-cell:hover {
    -fx-background-color: #f5b4b4; /* Color de fondo al pasar el mouse */
}